.root {
  background-color: #062343;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:
    url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8&auto=format&fit=crop&w=1080&q=80);
  background-size: 100% 800px;
  background-position: top center;
  min-height: 300px;
}

.header {
  height: rem(56px);
  padding-top: rem(10px);
  margin-bottom: rem(120px);
}

.headerInner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--mantine-color-dark-0);
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.image {
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.content {
  height: 100%;
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    margin-right: 0;
  }
}

.title {
  color: var(--mantine-color-white);

  font-weight: 900;
  line-height: 1.05;
  max-width: rem(500px);
  font-size: rem(48px);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    font-size: rem(34px);
    line-height: 1.15;
  }
}

.controls {
  margin-top: var(--mantine-spacing-xl);
}

.control {
  height: rem(54px);
  padding-left: rem(38px);
  padding-right: rem(38px);

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(54px);
    padding-left: rem(18px);
    padding-right: rem(18px);
    flex: 1;
  }
}

.arrow {
  transition: transform 0.3s ease-in-out;
}

.control:hover .arrow {
  transform: translateX(7px);
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  font-weight: 500;
  font-size: var(--mantine-font-size-lg);

  @media (max-width: $mantine-breakpoint-sm) {
    height: 42px;
    width: 100%;
  }

  /* @mixin hover {
    background-color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  } */
}