.popover-bottom-arrow {
  border-color: light-dark(
      var(--mantine-color-gray-6),
      var(--mantine-color-gray-1)
    )
    transparent transparent
    light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-1));
}

.popover-right-arrow {
  border-color: transparent transparent
    light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-1))
    light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-1));
}

.popover-top-arrow {
  border-color: transparent
    light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-1))
    light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-1))
    transparent;
}

.popover-left-arrow {
  border-color: light-dark(
      var(--mantine-color-gray-6),
      var(--mantine-color-gray-1)
    )
    light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-1))
    transparent transparent;
}

.popoverDropdown {
  color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-1));
  border-color: light-dark(
    var(--mantine-color-gray-6),
    var(--mantine-color-gray-1)
  );
  /* width: '500px'; */
}
